<html>
<head>
    <title>Kreator animacji</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/js/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="/static/js/dropzone/dist/basic.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/dropzone/dist/dropzone.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
