{% extends 'layout.html' %}

{% block body %}
    <div class="intro">
        <h1>Kreator animacji</h1>
        <h2>Stwórz swoją własną animację na podstawie zdjęć.</h2>
        <p class="info">Możliwe formaty plików to: PNG i JPG. <br/>
            Pliki w innych formatach zostaną pominięte.</p>
    </div>

    <div class="dropzone-section">
        <form action="{{ url_for('handle_upload') }}" method="POST" enctype="multipart/form-data" class="dropzone"
              id="my-awesome-dropzone">
            <div class="dropzone-previews"></div>
            <div class="dropzone-inputs">
                <input type="email" name="email" placeholder="Adres e-mail"/>
                <p class="validation-info"></p>
                <button type="submit">Wyślij</button>
            </div>
            <div class="dz-message" data-dz-message><span>Przeciągnij pliki tutaj</span></div>
        </form>
    </div>

    <script>

        $('input[type="email"]').on('change', function () {
            if ($('input[type="email"]').val()) {
                $('.validation-info').hide();
            }
        });

        Dropzone.options.myAwesomeDropzone = {
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            addRemoveLinks: true,
            dictRemoveFile: "Usuń plik",
            init: function () {
                var myDropzone = this;
                this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    if ($('input[type="email"]').val()) {
                        myDropzone.processQueue();
                    } else {
                        $('.validation-info').text('Podanie adresu e-mail jest wymagane. W innym wypadku nie otrzymasz animacji.');
                        $('.validation-info').show();
                    }
                });
                this.on("addedfile", function (file) {
                    $('.validation-info').hide();
                });
                this.on("successmultiple", function (files, response) {
                    responseJson = JSON.parse(response);
                    $('.validation-info').text(responseJson.message).show();
                    if (responseJson.status === 200) {
                        myDropzone.removeAllFiles();
                        $('input[type="email"]').val('');
                    }
                });
                this.on("errormultiple", function (files, response) {
                    responseJson = JSON.parse(response);
                    myDropzone.removeAllFiles();
                    $('input[type="email"]').val('');
                    $('.validation-info').text(responseJson.message).show();
                });
            }
        }

    </script>
{% endblock %}
